.main-panel {
  flex: 1;
  height: 100%;
  background: var(--gray-1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main-panel .connections-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 16px;
  padding: 16px;
}
